@import "src/styles/variables";
@import "src/styles/styles";
.message-input {
  width: 100%;
  margin-left: 10px;

  textarea {
    resize: none;
    font-size: 12px;
    height: 35px;
    padding: 10px 20px;
    border-radius: 30px;
    background: $backGroundGrayColor;
    border: 0;
    outline: none;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
