@import "src/styles/variables";

.text-input{
  display: flex;
  flex-direction: column;
  &__validation{
    font-size: 9px;
    margin-bottom: 16px;
    color: $errorColor;
  }
  input{
    border: none;
    outline: none;
    border-bottom: 1px solid $blueColor;

  }
  label{
    font-size: 9px;
    color: $grayColor;
    margin-bottom: 8px;
  }
}
