@import "src/styles/variables";
@import "src/styles/styles";

.text-input {
  display: flex;
  flex-direction: column;
  font-size: 9px;
  color: $grayColor;

  &__validation {
    font-size: 9px;
    margin-bottom: 16px;
    color: $errorColor;
  }

  input {
    margin-top: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid $blueColor;
  }
}
