@import "src/styles/variables";

.messenger {
  display: flex;
  height: 100%;
  width: 100%;

  &__left-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 310px;
    background: $backGroundLightGrayColor;
    border-right: 1px solid $backGroundGrayColor;

    .profile {
      text-align: right;
      margin: 20px 10px;

      &__link {
        color: $grayColor;
        font-size: 12px;
      }
    }

    .search-field {
      border-bottom: 1px solid $backGroundGrayColor;

      .text-input {
        margin: 0 10px 15px;

        input {
          background-color: $backGroundGrayColor;
          border: 0;
          height: 32px;
          border-radius: 5px;
          padding: 0 5px;
          margin: 0;
          font-size: 12px;

          &::placeholder {
            color: $grayColor;
            text-align: center;
          }
        }
      }
    }
  }

  &__right-column {
    height: 100%;
    width: 100%;

    .chat {
      height: 100%;
      display: flex;
      flex-direction: column;

      &__header {
        display: flex;
        align-items: center;
        margin: 0 20px;
        padding: 10px 0;
        justify-content: space-between;
        border-bottom: 1px solid $backGroundGrayColor;

        .chat-title {
          display: flex;
          align-items: center;

          &__avatar {
            border-radius: 50%;
            border: none;
            background: $backGroundGrayColor;
          }

          &__name {
            margin-left: 10px;
            font-size: 13px;
            font-weight: 600;
          }

          &__context-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            background: $whiteColor;
            width: 25px;
            height: 25px;
            border-radius: 50%;

            &:hover {
              background: #f5f5f5;
              cursor: pointer;
            }

            img {
              height: 15px;
            }
          }
        }
      }

      &__bottom-panel {
        display: flex;
        align-items: center;
        border-top: 1px solid $backGroundGrayColor;
        margin: 0 20px;
        padding: 10px 0;

        .clip-button {
          background: $whiteColor;
          padding: 0;
          border: none;
          border-radius: 50%;
          width: 32px;
          height: 32px;

          &:hover {
            cursor: pointer;
          }
        }

        .send-button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;
          width: 28px;
          height: 28px;
          background: $blueColor;
          border: none;
          border-radius: 50%;
          rotate: 180deg;
        }
      }
    }
  }
}
