@import "src/styles/variables";

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 100%;
  border-right: 1px solid $backGroundGrayColor;
  background: $backGroundLightGrayColor;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background: $blueColor;
  }
}
