---
oldPassword: "qwerty"
newPassword: "helloYandex"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../../styles/styles.scss">
  <title>Изменить пароль</title>
</head>
<body>
  <div id="root">
    <main>
      {{> backButton href="./../Profile/profile.hbs"}}
      <div class="profile-container">
        <div class="profile-container__avatar">
          <img src="./../../static/avatar.svg" alt="avatar">
        </div>
        <div class="profile-container__userinfo">
          {{> input type="password" name="oldPassword" id="oldPassword" labelText="Старый пароль" value=oldPassword}}
          {{> input type="password" name="newPassword" id="newPassword" labelText="Новый пароль" value=newPassword}}
          {{> input type="password" name="repeatNewPassword" id="repeatNewPassword" labelText="Повторите новый пароль" value=newPassword}}
        </div>
        <div class="profile-container__buttons">
          {{> button href="./../Profile/profile.hbs" text="Сохранить"}}
        </div>
      </div>
    </main>
  </div>
</body>
</html>