---
email: "pochta@yandex.ru"
login: "ivanivanov"
first_name: "Иван"
second_name: "Иванов"
display_name: "Иван"
phone: "+79099673030"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../../styles/styles.scss">
  <title>Редактировать профиль</title>
</head>
<body>
  <div id="root">
    <main>
      {{> backButton href="./../Profile/profile.hbs"}}
      <div class="profile-container">
        <div class="profile-container__avatar">
          <img src="./../../static/avatar.svg" alt="avatar">
        </div>
        <div class="profile-container__userinfo">
          {{> input type="text" name="email" id="email" labelText="Почта" value=email}}
          {{> input type="text" name="login" id="login" labelText="Логин" value=login}}
          {{> input type="text" name="first_name" id="first_name" labelText="Имя" value=first_name}}
          {{> input type="text" name="second_name" id="second_name" labelText="Фамилия" value=second_name}}
          {{> input type="text" name="display_name" id="display_name" labelText="Имя в чате" value=display_name}}
          {{> input type="text" name="phone" id="phone" labelText="Телефон" value=phone}}
        </div>
        <div class="profile-container__buttons">
          {{> button href="./../Profile/profile.hbs" text="Сохранить"}}
        </div>
      </div>
    </main>
  </div>
</body>
</html>