<main>
  {{{backButton}}}
  <div class="profile-container">
    <div class="profile-container__avatar">
      <img src="{{avatarSVG}}" alt="avatar">
    </div>
    <h3 class="profile-container__username">{{display_name}}</h3>
    {{{profileForm}}}
  </div>
</main>
