<form class="form-validate">
  <h2 class="form-validate__title">Вход</h2>
  <div class="form-validate__inputs">
    {{{loginInput}}}
    {{{passwordInput}}}
  </div>
  <div class="form-validate__buttons">
    {{{buttonLogin}}}
    {{{registerLink}}}
  </div>
</form>