$blackColor: #1e1e1e;
$whiteColor: #fff;
$blueColor: #3369f3;
$redColor: #f00;
$grayColor: #999;
$lightBlueColor: #e4edfd;

$backGroundLightGrayColor:#fbfbfb;
$backGroundGrayColor:#efefef;
$modalBackground: rgba(0, 0, 0, 0.5);

$errorColor: #ff2f2f;
