$blackColor: #1E1E1E;
$whiteColor: #FFFFFF;
$blueColor: #3369F3;
$redColor: #FF0000;
$grayColor: #999999;
$lightBlueColor: #E4EDFD;

$backGroundLightGrayColor:#FBFBFB;
$backGroundGrayColor:#EFEFEF;

$errorColor: #FF2F2F;
