<div class="history">
{{#each items}}
<!--  <div class="message__{{this.type}}"><p class="message__text">{{this.content}}<span class="message__time">{{this.time}}</span></p></div>-->
  {{{this}}}
{{/each }}
</div>
